<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <select id="listaMedicos"></select>

  <script src="/socket.io/socket.io.js"></script>
  <script type="/javascripts/main.js"></script>

  </body>
</html>
