<!DOCTYPE html>
<html>
  <head>
    <title>Monitoreo</title>

   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>

  <body>
    <%- body %>


    <script src="/bower_components/angular/angular.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/socket.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
