<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form method="post" enctype="multipart/form-data" action="/subir">
		<input type="file" name="archivo"><br>
		<button type="submit">Enviar Archivo</button>
	</form>

</body>
</html>