<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<form method="post" action="/rutaPut/?_method=put">
	<input type="text" name="usuarioPut"><br>
	<button type="submit">Enviar</button>
</form>

<form method="post" action="/rutaDelete/?_method=delete">
	<input type="text" name="usuarioDelete"><br>
	<button type="submit">Enviar</button>
</form>



</body>
</html>