<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
    	<li>
    		<a href="/loginFacebook">Login con Facebook</a>
    	</li>
      <li>
        <a href="/loginGoogle">Login con Google</a>
      </li>  
      <li>
        <a href="/loginTwitter">Login con Twitter</a>
      </li>    
    </ul>
  </body>
</html>
