<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/estilos.css">
  </head>
  <body>
  <div class="container">
  	<div class="row">
  		<div class="col-sm-6" id="listado">
  			<table class="table table-striped">
  				<thead>
  					<tr>
  						<th>ID</th>
  						<th>Título</th>
  						<th>Director</th>
  						<th>Año</th>
  						<th>Acciones</th>
  					</tr>
  				</thead>
  				<tbody>

  				</tbody>
  			</table>
  			<button type="button" class="btn btn-success" id="btnInsertar">Insertar</button>
  		</div>

  		<div class="col-sm-6" id="formInsertar">
  			<form>
  				<div class="form-group">
  					<input type="text" id="tituloInsertar" class="form-control" placeholder="Título">
  				</div>
   				<div class="form-group">
  					<input type="text" id="directorInsertar" class="form-control" placeholder="Director">
  				</div>
  				<div class="form-group">
  					<input type="text" id="annoInsertar" class="form-control" placeholder="Año">
  				</div>
  				<div class="form-group">
  					<button type="button" class="btn btn-success" id="btnGrabarInsertar">Insertar</button>
  				</div>  				
   			</form>
  		</div>


  	</div>
  </div>

  <script src="/javascripts/main.js"></script>


  </body>
</html>
