<html>
	<head>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<form action="/validar" method="post">
						<div class="form-group">
							<input type="text" name="usuario" placeholder="Ingrese su usuario" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" name="contrasena" placeholder="Ingrese su contraseña" class="form-control">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Ingresar</button>
						</div>
					</form>					

				</div>
			</div>
		</div>
		

	</body>
</html>