<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf8">
</head>
<body>

	<form action="/enfermeros/actualizar/<%= reg.idEnfermero %>" method="post">
		<input type="text" name="nombreEnfermero" placeholder="Ingrese el nombre" value="<%= reg.nombreEnfermero %>" /><br>
		<button type="submit">Insertar</button>		
	</form>

</body>
</html>