<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf8">
</head>
<body>

	<form action="/diagnosticos/actualizar/<%= reg.idDiagnostico %>" method="post">
		<input type="text" name="nombreDiagnostico" placeholder="Ingrese el nombre" value="<%= reg.nombreDiagnostico %>" /><br>
		<button type="submit">Insertar</button>		
	</form>

</body>
</html>