<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf8">
</head>
<body>
	<ul>
		<li><a href="/medicos/listar">Médicos</a></li>
		<li><a href="/enfermeros/listar">Enfermeros</a></li>
		<li><a href="/diagnosticos/listar">Diagnósticos</a></li>
		<li><a href="/historiasmedicas/listar">Historias Médicas</a></li>
	</ul>
</body>
</html>