<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Sistema Couriers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/estilos.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->    	
</head>
<body>
	<%- body %>

	<script src="/bower_components/angular/angular.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/_controladores/app_controladores.js"></script>
    <script src="/js/app.js"></script>
    <!--SCRIPTS END-->
</body>
</html>