<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
    canvas {background: black;margin:10px auto;display: block}
    </style>
  </head>
  <body>

  <canvas id="canvas" width="800" height="500"></canvas>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/main.js"></script>

  </body>
</html>
